*.exe
*.exe~
*.dll
*.so
*.dylib

__debug_bin

*.test

*.new
*.old
*.out

vendor/
/vendor/
/Godeps/

go.work

*.rdb

*_config.json

# Ignore the Dockerfile symlink
/Dockerfile
*/launch.json
/cmd/meter.readings.bot/meter.readings.bot
